html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-modi {
    min-height: 100%;
    margin-bottom: -50px;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #444040;
}

a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #000000;
}

a:active {
    text-decoration: none;
    background-color: transparent;
    color: #1d1a1a;
}

a:visited {
    text-decoration: none;
    background-color: transparent;
    color: #1d1a1a;
}

#banner_image {
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../images/intro-bg_1.jpg") no-repeat center center;
    background-size: cover;
}


#banner_content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

#banner_content h1 {
    margin-bottom: 5px;
}

#banner_content p {
    margin-top: 10px;
    margin-bottom: 30px;
}

footer {
    background-color: none;
    color: #333;
    padding: 10px 0;
    height: 50px;
    width: 100%;
}

footer, .push {
    height: 50px;
}



.row-style {
    margin-top: 80px;
}

.row-style h2 {
    margin-bottom: 25px;
}

.panel-body-style {
    padding-bottom: 40px;
}

.panel-footer-style {
    padding-bottom: 20px;
}

.jumbotron {
    margin-top: 70px;
    background-color: #c0bebe;
}

.thumbnail img {
    height: 165px;
}

.thumbnail h3 {
    font-size: 20px;
    font-weight: bold;
}

.panel a {
    text-decoration: none;
}

@media (min-height: 640px) and (max-width: 767px)
{
    nav .navbar-brand {
        font-size: 20px;
    }

    #banner_image {
        margin-top: 50px;
        padding-top: 32%;
        padding-bottom: 32%;
    }

    #banner_content {
        padding-bottom: 10%;
    }

    .thumbnail img {
        margin-top: 10px;
    }
}

@media (min-height: 760px) and (max-width: 767px)
{
    #banner_image {
        padding-top: 40%;
        padding-bottom: 40%;
    }

    #banner_content {
        padding-bottom: 15%;
        padding-top: 15%;
    }
}

@media (max-width: 400px) {
    .col-xxs {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .row-style {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}
