<!DOCTYPE html>
<html>
        <head>
		<title>RaktArpan</title>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% load static %}
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" rel="stylesheet">
		<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            body {
                background: rgb(237,237,237);
background: radial-gradient(circle, rgba(237,237,237,1) 59%, rgba(255,245,245,1) 100%);
            }

            .navbar-inverse {
                background-color: #E74C3C;
            }

            .navbar-inverse .navbar-nav>li>a {
                color: #fff;
            }

            .navbar-inverse .navbar-brand {
                color: #fff;
            }

            .btn{
                background-color: #E74C3C;
                color: #fff;
            }

            .btn:hover{
                color: #fff;
            }

            /* .panel{
                color: #E74C3C;
            } */
        </style>
	</head>

	<body>

        <div class="navbar navbar-inverse navbar-fixed-top"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button> <a class="navbar-brand" href="/user/">RaktArpan</a> 
                </div> 
                <div class="collapse navbar-collapse" id="myNavbar"> 
                    <ul class="nav navbar-nav navbar-right"> 
                            <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> 
                            <li><a href="/user/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
                    </ul> 
                </div> 
            </div> 
        </div>

		<div class="container container-modi">
			<div class="row row-style">
				<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags %}
                    {% if message.tags == "error" %}
                    <div class="panel panel-danger">
                    {% endif %} 
                    {% if message.tags == "success" %}
                    <div class="panel panel-success">
                    {% endif %} 
						<div class="panel-heading">
							<strong><h5 class="{{ message.tags }}">{{ message }}</h5></strong>
						</div>   
                    {% endif %} 
                    {% endfor %}
                    {% else %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4><strong>LOGIN</strong></h4>
                        </div>
                    {% endif %}
                                            
						<div class="panel-body panel-body-style">
							<p class="text-warning">
								<em>Login to use the Portal</em>
							</p>
                            <form action="/user/loginUser" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="username" id="username" placeholder="username" class="form-control" required="True" autofocus="True">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id = "password" placeholder="Password" class="form-control" required="True" pattern=".{6,}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Login">
                                </div>
							</form>

						</div>
						<div class="panel-footer panel-footer-style">
							Don't have an account? <a href="/user/signup" class="text-info"><strong>Sign up</strong></a>
						</div>
					</div>
				</div>
			</div>
            <div class="push"></div>
		</div>
		

		<footer class = "navbar navbar-fixed-bottom">
            <div class="container"> 
                <center> 
                    <p>
                        Copyright &copy; RaktArpan All Rights Reserved | Contact Gaurav & Nibir.
                    </p> 
                </center> 
            </div> 
        </footer>
	</body>
</html>